@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container{
  margin: 0 auto;
  max-width: 960px;
  height: 600px;
}

.button-container{
  text-align: center;
  margin-top: 30px;
}

.btn-primary{
  padding: 16px 12px;
  border-radius: 5px;
  background: rgb(255, 89, 89);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.section-title{
  color: rgb(18, 18, 18);
  font-size: 45px;  
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0px;
  text-align: center;
}

.description{
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
}

/* Header */

header{
  background: linear-gradient(0.00deg, rgb(18, 18, 18),rgba(18, 18, 18, 0) 100%), url("./images/donation13.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  max-width: 1560px;
  height: 720px;

  padding: 180px 400px;
  text-align: center;
}

.banner-title{
  color: rgb(255, 255, 255);
  font-size: 65px;
  line-height: 79px;
  letter-spacing: 0px;
  margin-bottom: 20px;
}



/* Responsive */

.hide{
  display: none;
}
@media screen and (max-width: 576px) {
  header{
  max-width: 100%;
  height: 100%;
  
  padding: 120px 20px;
  
}

.banner-title{
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  margin-bottom: 12px;
}

.description{
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.btn-primary{
  padding: 8px 6px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    header{
  max-width: 100%;
  height: 100%;
  padding: 180px 40px ;
}

.banner-title{
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0px;
  margin-bottom: 12px;
}

.description{
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.btn-primary{
  margin-top: 5px;
  padding: 8px 6px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
}

